section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nev-manual, .nev-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nev-manual .manual-btn, .nev-auto div{
    border: 1px solid rgb(26, 129, 0);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.2s;
}

.nev-manual .manual-btn:hover{
    background-color: rgb(26, 129, 0);
}

#radio1:checked ~ .nev-auto .auto-btn1{
    background-color: rgb(26, 129, 0);
}

#radio2:checked ~ .nev-auto .auto-btn2{
    background-color: rgb(26, 129, 0);
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;

}

@media screen and (max-width: 900px){
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }

    .nev-auto, .nev-manual{
        margin-top: 60%;
    }
}